<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
>

    <bean id="c1" class="domain.Computer" scope="singleton" lazy-init="true"></bean>
    <bean id="c2" class="domain.Computer"></bean>
    <bean id="c3" class="domain.Computer"></bean>

    <bean id="base" class="domain.Base" p:computer1-ref="c1" p:computer2-ref="c2" p:computer3-ref="c3" abstract="true"></bean>

    <bean id="room" class="domain.Room" parent="base"></bean>
    <bean id="person" class="domain.Person" parent="base"></bean>

    <!--==================================================================-->
    <!--通过如下这一行引入了一个外部的properties文件-->
    <context:property-placeholder location="classpath:test.properties"></context:property-placeholder>

    <bean id="computer" class="domain.Computer">
        <property name="name" value="${name}"></property>
        <property name="price" value="${price}"></property>
    </bean>

</beans>